* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 24px;
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: calc(33.33% - 40px);
  margin: 20px;
  padding: 20px;
  border: 1px solid #000;
  background-color: #919191;
  position: relative;
}

.section:nth-child(1) .section-title {
  background-color: #f5c6c1; 
  color: #000;
}

.section:nth-child(2) .section-title {
  background-color: #db3030; 
}

.section:nth-child(3) .section-title {
  background-color: #d8e0a6; 
  color: #000;
}

.section-title {
  position: absolute;
  top: 0px;
  right: 0px;
  color: #fff;
  padding: 5px 20px;
  font-size: 12px;
  font-weight: bold;
}

@media screen and (max-width: 991px) {
  .section {
    width: calc(50% - 40px);
  }

  .section:nth-child(3) {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .section {
    width: 100%;
  }
}
